.basic-grid{
    display: grid;
    gap: 1rem;

    /* to much code */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    /* cleaner code */
    grid-template-columns: repeat(12, 1fr);

    /* better sizing, but overflows */
    grid-template-columns: repeat(12, minmax(240px, 1fr));

    /* final - implicit grid */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

}

.grid-autofill{
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}