<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wavy Background</title>
    <link rel="stylesheet" href="styles/utils.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/style.css">


    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
</head>

<body>
    <nav class="header">
        <li>
            <a href="../index.html" class="link">Back</a>
        </li>
    </nav>
    <main>
        <section class="blue">
            <h1>Nice Curves</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cum cumque quam vitae dicta voluptas,
                corrupti aperiam dolorum harum consequatur quisquam voluptatibus libero obcaecati labore, itaque quis
                natus accusamus alias.</p>
            <div class="curve"></div>
        </section>
        <section>
            <h1>Nice Curves</h1>
            <p>Beatae eius explicabo porro quae qui laboriosam et culpa ea quidem in non consequatur exercitationem hic,
                totam expedita laborum ducimus assumenda! Assumenda impedit labore, pariatur delectus reiciendis eius
                deleniti sunt!</p>
        </section>
        <section class="bubble">
            <h1>Nice Curves</h1>
            <p>Odit sapiente, magni consequuntur soluta cum quis error ipsum doloremque eaque? Tempora ducimus deleniti
                laborum numquam deserunt, consequuntur soluta tenetur cumque distinctio minus vitae earum perferendis
                sit eligendi blanditiis aut.</p>
        </section>
        <section class="dark">
            <h1>Nice Curves</h1>
            <p>Omnis expedita impedit nesciunt minus porro quidem nihil deserunt? Blanditiis, repudiandae commodi? Eius
                soluta eaque nobis quis beatae nam praesentium vitae architecto, culpa sunt ad obcaecati tempora magni
                corrupti voluptatem?</p>
        </section>

        <section class="red">
            <h1>Nice Curves</h1>
            <p>Mollitia itaque adipisci dolorum eos, facere accusantium molestias eaque veritatis fuga beatae
                distinctio, reiciendis, ducimus omnis obcaecati repellat officia sit excepturi nostrum accusamus! Nisi
                alias non asperiores eius quaerat minus.</p>
            <!--shapedivider.app-->
            <div class="wave">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                        opacity=".25" class="shape-fill"></path>
                    <path
                        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                        opacity=".5" class="shape-fill"></path>
                    <path
                        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                        class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <!--app.haikei.app-->
        <div class="spacer layer1"></div>
        <section>
            <h1>Nice Curves</h1>
            <p>Ullam vero quod vel explicabo! Eos dolores quaerat libero eligendi ratione nemo vero labore animi
                deleniti quasi sint inventore natus dignissimos dolorem, iusto officiis sunt cum aliquid molestiae sequi
                atque.</p>
        </section>

        <div class="spacer layer2 "></div>
        <section class="pink">
            <h1>Nice Curves</h1>
            <p>Minus sequi, iusto culpa aut corporis ab? Voluptate consectetur quas pariatur consequuntur est natus
                suscipit quia eaque! Debitis, nulla in. Magnam eius fugit delectus perspiciatis unde. Esse dignissimos
                facilis dolorum.</p>
            <svg id="visual" viewBox="0 0 960 300" width="960" height="300" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                <g transform="translate(485.77916097462173 170.2158199543886)">
                    <path id="blob1"
                        d="M50.9 -61.8C65.1 -36.8 75.1 -18.4 75.8 0.7C76.5 19.8 67.9 39.6 53.8 53.6C39.6 67.6 19.8 75.8 -6.2 82C-32.3 88.3 -64.6 92.6 -77.1 78.6C-89.6 64.6 -82.3 32.3 -83.2 -0.9C-84.2 -34.2 -93.4 -68.4 -80.9 -93.4C-68.4 -118.4 -34.2 -134.2 -7.9 -126.3C18.4 -118.4 36.8 -86.8 50.9 -61.8"
                        fill="#BB004B"></path>
                </g>

                <g transform="translate(498.9716840071937 172.37318939369328)" style="visibility: hidden;">
                    <path id="blob2"
                        d="M51.4 -60.4C67.4 -35.4 81.7 -17.7 81.8 0.1C81.9 17.9 67.8 35.8 51.8 50.2C35.8 64.5 17.9 75.2 -2.1 77.4C-22.2 79.5 -44.3 73 -68.1 58.6C-92 44.3 -117.5 22.2 -119.6 -2.1C-121.7 -26.4 -100.5 -52.8 -76.6 -77.8C-52.8 -102.8 -26.4 -126.4 -4.4 -122C17.7 -117.7 35.4 -85.4 51.4 -60.4"
                        fill="#BB004B"></path>
                </g>
            </svg>
            <script>
                const tween = KUTE.fromTo(
                    '#blob1',
                    {path: '#blob1'},
                    {path: '#blob2'},
                    {repeat: 999, duration: 3000, yoyo: true}
                )

                tween.start();
            </script>
        </section>
        <div class="spacer layer2 flip "></div>

        <section>
            <h1>Nice Curves</h1>
            <p>Maxime, molestias ea. Perspiciatis veritatis animi, nisi accusantium suscipit, iste rem et porro
                architecto ut libero nulla corporis atque recusandae a sequi sit. Illo nam atque dicta vero maiores
                quisquam?</p>
        </section>
    </main>
</body>

</html>