<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #131316;
            color: #ffffff;
            padding: 0;
            margin: 0;
        }
        section{
            display: grid;
            align-content: center;
            place-items: center;
            min-height: 30vh;
        }
        .link{
            text-decoration: none; 
            color: inherit;
            font-size: 30px;
            font-weight: 700;
        }
    </style>
</head>
<body>
    
    <section> 
        <a href="../index.html" class="link">Home</a>
    </section>

    <section> 
        <a href="Scroll Animations/index.html" class="link">Scroll Animation</a>
    </section>

    <section> 
        <a href="Wavy Background/index.html" class="link">Wavy Background</a>
    </section>


    <section> 
        <a href="Navbar/index.html" class="link">Navbar</a>
    </section>

    <section> 
        <a href="Grids/basic-grid.html" class="link">Basic Grid</a>
    </section>

    <section> 
        <a href="Grids/photo-grid.html" class="link">Photo Grid</a>
    </section>

    <section> 
        <a href="Grids/animated-grid.html" class="link">Animated Grid</a>
    </section>


    
    
</body>
</html>