@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* colors */
    --color-surface: #121414;
    --color-surface-variant: #343535;
    --color-surface-container: #1e2020;
    --color-surface-container-low: #1a1c1c;
    --color-surface-container-lowest: #0d0e0f;
    --color-surface-container-high: #292a2a;
    --color-surface-container-highest: #343535;
    --color-on-surface: #e3e2e2;
    --color-on-surface-variant: #b9caca;
   
    --color-primary: #e9feff;
    --color-primary-fixed: #63f7ff;
    --color-primary-fixed-dim: #00dce5;
    --color-on-primary: #003739;        
    --color-on-primary-fixed: #002021;

    --color-background: #121414;
    --color-on-background: #e3e2e2;

    --color-outline: #849495;
    --color-outline-variant: #3a494a;


    /* spacing */
    --spacing-container-max: 1200px;
    --spacing-text-max: 36rem;
    

    --spacing-xxl: 80px;
    --spacing-xl: 40px;
    --spacing-lg: 24px;
    --spacing-md: 16px;
    --spacing-sm: 8px;
    --spacing-xs: 4px;

    

    --spacing-margin-mobile: 16px;

    /* radius */
    --radius: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;

    /* fonts */
    --font-body-md: "Inter", sans-serif;
    --font-body-lg: "Inter", sans-serif;
    
    --font-headline-sm: "Hanken Grotesk", sans-serif;
    --font-headline-md: "Hanken Grotesk", sans-serif;

    --font-label-mono: "JetBrains Mono", monospace;
  
    --font-caption: "Inter", sans-serif;
  
    --font-display-lg: "Hanken Grotesk", sans-serif;
    --font-display-lg-mobile: "Hanken Grotesk", sans-serif;


    /* text */
    --text-body-lg: 18px;
    --text-body-lg--line-height: 1.6;
    --text-body-lg--font-weight: 400;

    --text-label-mono: 14px;
    --text-label-mono--line-height: 1;
    --text-label-mono--letter-spacing: 0.05em;
    --text-label-mono--font-weight: 500;

    --text-headline-sm: 24px;
    --text-headline-sm--line-height: 1.4;
    --text-headline-sm--font-weight: 600;

    --text-headline-md: 32px;
    --text-headline-md--line-height: 1.3;
    --text-headline-md--font-weight: 600;

    --text-display-lg-mobile: 40px;
    --text-display-lg-mobile--line-height: 1.2;
    --text-display-lg-mobile--letter-spacing: -0.01em;
    --text-display-lg-mobile--font-weight: 700;

    --text-caption: 12px;
    --text-caption--line-height: 1.4;
    --text-caption--font-weight: 500;

    --text-body-md: 16px;
    --text-body-md--line-height: 1.6;
    --text-body-md--font-weight: 400;

    --text-display-lg: 64px;
    --text-display-lg--line-height: 1.1;
    --text-display-lg--letter-spacing: -0.02em;
    --text-display-lg--font-weight: 700;
}